<!DOCTYPE html>
<html lang="en">
<head>
    <title>QuanLySanPham</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="OneTech shop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
    <link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="plugins/slick-1.8.0/slick.css">
    <link rel="stylesheet" type="text/css" href="styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="styles/responsive.css">

</head>

<body style="background-image: url('./image/maxresdefault.jpg')">

<div class="super_container">

    <!-- Header -->

    <header class="header">


            <!-- Main Navigation -->

            <nav class="main_nav">
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <div class="main_nav_content d-flex flex-row">

                                <!-- Categories Menu -->
                                <div class="main_nav_menu ml-auto">
                                    <ul class="standard_dropdown main_nav_dropdown" style="margin-right: 350px">
                                        <li class="hassubs">
                                            <a href="/formsanpham">Thêm Sản Phẩm</a>

                                        </li>

                                        <li class="hassubs">
                                            <a href="/quanlysanpham">Danh sách Sản Phẩm</a>

                                        </li>
                                        <li><a href="/quanlyuser">USER<i class="fas fa-chevron-down"></i></a></li>
                                    </ul>
                                </div>

                                <!-- Menu Trigger -->

                                <div class="menu_trigger_container ml-auto">
                                    <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                                        <div class="menu_burger">
                                            <div class="menu_trigger_text">menu</div>
                                            <div class="cat_burger menu_burger_inner">
                                                <span></span><span></span><span></span></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </nav>



    </header>

    <!-- Banner -->


    <div class="deals_featured">
        <div class="container">
            <h1 class="text-center" style="font-family: Arial">Danh sách sản phẩm</h1>
            <div class="row">
                <div class="col d-flex flex-lg-row flex-column align-items-center justify-content-start">


                    <table id="mytable" class="display cell-border table table-striped table-borderless container-fluid" style="width: 80%" cellspacing="0">
                        <thead>
                        <tr class="border-bottom">
                            <th></th>
                            <th style="font-family: Arial" scope="col">Tên Sản Phẩm</th>
                            <th style="font-family: Arial"  scope="col">Giá Bán</th>
                            <th style="font-family: Arial" scope="col">Màu Sắc</th>
                            <th style="font-family: Arial" scope="col">Mô tả</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {{# each sanphamList}}
                            <tr>
                                <td style="text-align:center">
                                    <img class="rounded-circle" src="http://localhost:2000/{{image}}" style="width: 50px;height:50px" />
                                </td>
                                <td>
                                    <p class=" data">{{tensanpham}}</p>
                                </td>
                                <td>
                                    <p class=" data">{{giatien}}</p>
                                </td>
                                <td>
                                    <p class=" data">{{mausac}}</p>
                                </td>
                                <td>
                                    <p class=" data">{{theloai}}</p>
                                </td>
                                <td style="text-align:center" class="row">
                                    <div style="background: white;color: white;width: 50px;height: 25px;margin-right: 10px;border-radius: 5px">
                                        <a href="/editsanpham/{{_id}}" class="btnEdit text-white" >    <img width="20px" height="20px" src="./image/edit.png"></a>
                                    </div>
                                    <div style="color: white;width: 50px;height: 25px;border-radius: 5px">
                                        <a href="/deletesanpham/{{_id}}" class="btnDelete text-white"
                                           onclick="return confirm('Are you sure to delete this product?')">
                                            <img width="20px" height="20px" src="./image/unnamed.png">
                                          </a>
                                    </div>

                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                        <hr />
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>


<script src="js/jquery-3.3.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/slick-1.8.0/slick.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="js/custom.js"></script>
</body>

</html>





